name: bank_api_ci

on:

  push:
    branches:
      -master
      
  pull_request:
    branches:
      -master

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      DJANGO_SETTINGS_MODULE: bank_api.settings

    steps:
      - name: checkoutcode
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependecies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirement.txt

      - name: Run migrations
        run: python manage.py migrate

      - name: Run tests
        run: python manage.py test
      
    
